.navbar-container {
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 66px;
  height: 60px;
  object-fit: cover;
  text-decoration: none;
}
.navbar-desktop-menu {
  fill: var(--dl-color-theme-neutral-dark);
  flex: 1;
  color: var(--dl-color-theme-neutral-dark);
  display: flex;
  justify-content: space-between;
}
.navbar-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-link1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-family: "Inter Tight";
  text-decoration: none;
}
.navbar-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Inter Tight";
  font-weight: 600;
  line-height: 1.5;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-dropdown-arrow {
  transition: 0.3s;
}
.navbar-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.navbar-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle1 {
  top: -6px;
  fill: #595959;
  left: -107px;
  color: #595959;
  width: 100%;
  display: inline-flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #8e8e8e;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #ffffff;
}
.navbar-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle2 {
  top: -5px;
  fill: #595959;
  color: #595959;
  right: -122px;
  width: 122px;
  height: 33px;
  display: inline-flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #8e8e8e;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #ffffff;
}
.navbar-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle3 {
  top: -6px;
  fill: #595959;
  color: #595959;
  right: 0px;
  width: 100%;
  display: inline-flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #8e8e8e;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.navbar-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-link3 {
  text-decoration: none;
}
.navbar-link5 {
  text-decoration: none;
}
.navbar-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-action1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar-action2 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}




@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.packpricing-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.packpricing-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.packpricing-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.packpricing-text {
  text-align: center;
}
.packpricing-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text01 {
  text-align: center;
}
.packpricing-text02 {
  text-align: center;
}
.packpricing-tabs {
  display: flex;
  align-items: flex-start;
}
.packpricing-button {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-theme-neutral-light);
  width: 120px;
  height: 60px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
  border-top-left-radius: var(--dl-radius-radius-buttonradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-buttonradius);
  border-bottom-right-radius: 0;
}
.packpricing-button01 {
  gap: var(--dl-space-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.packpricing-button02 {
  gap: var(--dl-space-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.packpricing-button03 {
  gap: var(--dl-space-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.packpricing-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packpricing-column {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.packpricing-price {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-price01 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text07 {
  font-style: normal;
  font-weight: 600;
}
.packpricing-text08 {
  font-size: 48px;
}
.packpricing-list {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packpricing-list-item {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-button04 {
  width: 100%;
}
.packpricing-column1 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent1);
}
.packpricing-price02 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-price03 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text14 {
  font-style: normal;
  font-weight: 600;
}
.packpricing-text15 {
  font-size: 48px;
}
.packpricing-list1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packpricing-list-item03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-button05 {
  width: 100%;
}
.packpricing-column2 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent2);
}
.packpricing-price04 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-price05 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text22 {
  font-style: normal;
  font-weight: 600;
}
.packpricing-text23 {
  font-size: 48px;
}
.packpricing-list2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packpricing-list-item07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-button06 {
  width: 100%;
}
.packpricing-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packpricing-column3 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.packpricing-price06 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-price07 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text30 {
  font-style: normal;
  font-weight: 600;
}
.packpricing-text31 {
  font-size: 48px;
}
.packpricing-list3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packpricing-list-item11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-button07 {
  width: 100%;
}
.packpricing-column4 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent1);
}
.packpricing-price08 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-price09 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text37 {
  font-style: normal;
  font-weight: 600;
}
.packpricing-text38 {
  font-size: 48px;
}
.packpricing-list4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packpricing-list-item14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-button08 {
  width: 100%;
}
.packpricing-column5 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent2);
}
.packpricing-price10 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-price11 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packpricing-text45 {
  font-style: normal;
  font-weight: 600;
}
.packpricing-text46 {
  font-size: 48px;
}
.packpricing-list5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packpricing-list-item18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-list-item21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.packpricing-button09 {
  width: 100%;
}
@media(max-width: 991px) {
  .packpricing-container {
    flex-direction: column;
  }
  .packpricing-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .packpricing-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .packpricing-button05 {
    width: 100%;
  }
  .packpricing-button06 {
    width: 100%;
  }
}

.logos1-container {
  gap: var(--dl-space-space-threeunits);
  width: 1681px;
  height: 445px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-max-width {
  gap: var(--dl-space-space-twounits);
  width: 1502px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos1-text {
  align-self: flex-start;
  text-align: center;
}
.logos1-container1 {
  align-self: center;
  margin-left: var(--dl-space-space-fiveunits);
}
.logos1-image {
  width: 175px;
  height: 141px;
  object-fit: cover;
}
.logos1-image1 {
  width: 257px;
  height: 136px;
  object-fit: cover;
  margin-left: -30px;
}
.logos1-image2 {
  width: 336px;
  height: 113px;
  object-fit: cover;
}
.logos1-image3 {
  width: 157px;
  height: 117px;
  object-fit: cover;
}
.logos1-image4 {
  width: 154px;
  height: 115px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .logos1-text {
    width: 653px;
    height: 91px;
  }
}
@media(max-width: 767px) {
  .logos1-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos1-max-width {
    gap: var(--dl-space-space-twounits);
  }
}

.logos9-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos9-max-width {
  gap: var(--dl-space-space-twounits);
  width: 409px;
  height: 75px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.logos9-text {
  left: -62px;
  width: 444px;
  bottom: -9px;
  height: 72px;
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.logos9-container1 {
  width: 100%;
}
.logos9-image {
  width: 118px;
  height: 118px;
  object-fit: contain;
}
.logos9-image01 {
  width: 113px;
  height: 104px;
  object-fit: cover;
}
.logos9-image02 {
  width: 342px;
  height: 71px;
  object-fit: cover;
}
.logos9-image03 {
  width: 244px;
  height: 71px;
  object-fit: cover;
}
.logos9-image04 {
  width: 200px;
  object-fit: cover;
}
.logos9-image05 {
  width: 200px;
  object-fit: cover;
}
.logos9-image06 {
  width: 118px;
  height: 118px;
  object-fit: contain;
  margin-left: 0px;
  margin-right: 0px;
}
.logos9-image07 {
  width: 113px;
  height: 104px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
}
.logos9-image08 {
  width: 342px;
  height: 71px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
}
.logos9-image09 {
  width: 244px;
  height: 71px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
}
.logos9-image10 {
  width: 200px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
}
.logos9-image11 {
  width: 200px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
}
.logos9-container5 {
  display: contents;
}
@media(max-width: 767px) {
  .logos9-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos9-max-width {
    gap: var(--dl-space-space-twounits);
  }
}

.homecontact-contact20 {
  width: 1920px;
  height: 504px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.homecontact-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.homecontact-root-class-name {
  left: 0px;
  bottom: 508px;
  position: static;
  margin-top: -235px;
}
.homecontact-root-class-name1 {
  left: 0px;
  bottom: 508px;
  position: static;
  margin-top: -235px;
}

.packfeatures-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.packfeatures-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.packfeatures-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.packfeatures-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packfeatures-row {
  align-items: flex-start;
}
.packfeatures-feature1 {
  flex: 1;
}
.packfeatures-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.packfeatures-feature2 {
  flex: 1;
}
.packfeatures-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.packfeatures-feature3 {
  flex: 1;
}
.packfeatures-content3 {
  align-self: stretch;
  align-items: flex-start;
}
.packfeatures-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .packfeatures-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .packfeatures-feature1-image {
    height: 260px;
  }
  .packfeatures-feature2-image {
    height: 260px;
  }
  .packfeatures-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .packfeatures-column {
    width: 100%;
  }
  .packfeatures-text1 {
    text-align: center;
  }
  .packfeatures-row {
    flex-direction: column;
  }
  .packfeatures-feature1-image {
    width: 100%;
  }
  .packfeatures-feature2 {
    width: auto;
  }
  .packfeatures-feature2-image {
    width: 100%;
  }
  .packfeatures-feature3 {
    width: auto;
  }
  .packfeatures-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .packfeatures-actions {
    width: 100%;
    flex-direction: column;
  }
  .packfeatures-button {
    width: 100%;
  }
  .packfeatures-button1 {
    width: 100%;
  }
}

.packfaq-faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.packfaq-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.packfaq-section-title {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.packfaq-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.packfaq-text {
  text-align: center;
}
.packfaq-text1 {
  text-align: center;
}
.packfaq-list {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.packfaq-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.packfaq-trigger {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-faq1-question {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.packfaq-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-icon {
  width: 24px;
  height: 24px;
}
.packfaq-icon02 {
  width: 24px;
  height: 24px;
}
.packfaq-container03 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packfaq-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.packfaq-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-faq2-question {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.packfaq-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-icon04 {
  width: 24px;
  height: 24px;
}
.packfaq-icon06 {
  width: 24px;
  height: 24px;
}
.packfaq-container06 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packfaq-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.packfaq-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-faq2-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.packfaq-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-icon08 {
  width: 24px;
  height: 24px;
}
.packfaq-icon10 {
  width: 24px;
  height: 24px;
}
.packfaq-container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packfaq-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.packfaq-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-faq2-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.packfaq-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-icon12 {
  width: 24px;
  height: 24px;
}
.packfaq-icon14 {
  width: 24px;
  height: 24px;
}
.packfaq-container12 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packfaq-faq5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.packfaq-trigger4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-faq1-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.packfaq-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.packfaq-icon16 {
  width: 24px;
  height: 24px;
}
.packfaq-icon18 {
  width: 24px;
  height: 24px;
}
.packfaq-container15 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.packfaq-content1 {
  align-self: center;
}
.packfaq-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.packfaq-text7 {
  text-align: center;
}
.packfaq-text8 {
  text-align: center;
}
.packfaq-button {
  text-decoration: none;
}
@media(max-width: 991px) {
  .packfaq-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .packfaq-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.packfooter-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.packfooter-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.packfooter-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.packfooter-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.packfooter-image1 {
  height: 2rem;
}
.packfooter-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packfooter-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.packfooter-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.packfooter-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.packfooter-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.packfooter-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.packfooter-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.packfooter-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packfooter-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.packfooter-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packfooter-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.packfooter-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.packfooter-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.packfooter-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.packfooter-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.packfooter-link3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.packfooter-link4 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.packfooter-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.packfooter-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.packfooter-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .packfooter-newsletter {
    width: 300px;
  }
  .packfooter-form {
    width: 100%;
    flex-direction: column;
  }
  .packfooter-container {
    width: 100%;
  }
  .packfooter-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .packfooter-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .packfooter-content {
    flex-direction: column;
  }
  .packfooter-newsletter {
    width: 100%;
  }
  .packfooter-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .packfooter-container {
    width: 100%;
  }
  .packfooter-button {
    width: 208px;
  }
  .packfooter-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .packfooter-column1 {
    align-items: center;
  }
  .packfooter-column1-title {
    text-align: center;
  }
  .packfooter-footer-links {
    align-self: center;
  }
  .packfooter-column2 {
    align-items: center;
  }
  .packfooter-column2-title {
    text-align: center;
  }
  .packfooter-footer-links1 {
    align-self: center;
  }
  .packfooter-column3 {
    align-items: center;
  }
  .packfooter-social-link1-title {
    text-align: center;
  }
  .packfooter-social-links {
    align-self: center;
  }
  .packfooter-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .packfooter-actions {
    width: 100%;
  }
  .packfooter-form {
    width: 100%;
    flex-direction: column;
  }
  .packfooter-container {
    width: 100%;
  }
  .packfooter-button {
    width: 100%;
  }
  .packfooter-links {
    flex-direction: column;
  }
  .packfooter-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .packfooter-footer-links {
    align-items: center;
    justify-content: center;
  }
  .packfooter-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .packfooter-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .packfooter-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .packfooter-social-links {
    align-items: center;
    justify-content: center;
  }
  .packfooter-credits {
    gap: 0;
  }
  .packfooter-row {
    align-items: center;
    justify-content: center;
  }
  .packfooter-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.packages-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
