<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alaala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./packpricing.css" rel="stylesheet" />
      <div class="packpricing-pricing23 thq-section-padding">
        <div class="packpricing-max-width thq-section-max-width">
          <div class="packpricing-section-title">
            <span class="packpricing-text thq-body-small">
              <span>Choose the perfect plan for you</span>
            </span>
            <div class="packpricing-content">
              <h2 class="packpricing-text01 thq-heading-2">
                <span>Pricing plan</span>
              </h2>
              <p class="packpricing-text02 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
              </p>
            </div>
          </div>
          <div class="packpricing-tabs">
            <button class="packpricing-button thq-button-filled">
              <span class="thq-body-small">Monthly</span>
            </button>
            <button class="packpricing-button01 thq-button-outline">
              <span class="thq-body-small">Monthly</span>
            </button>
            <button class="packpricing-button02 thq-button-outline">
              <span class="thq-body-small">Yearly</span>
            </button>
            <button class="packpricing-button03 thq-button-filled">
              <span class="thq-body-small">Yearly</span>
            </button>
          </div>
          <div class="packpricing-container">
            <div class="packpricing-column thq-card">
              <div class="packpricing-price">
                <div class="packpricing-price01">
                  <span class="packpricing-text07 thq-body-large">
                    <span>Basic plan</span>
                  </span>
                  <h3 class="packpricing-text08 thq-heading-3">
                    <span>$20/mo</span>
                  </h3>
                  <span class="thq-body-large">
                    <span>or $200 yearly</span>
                  </span>
                </div>
                <div class="packpricing-list">
                  <div class="packpricing-list-item">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item01">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item02">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="packpricing-button04 thq-button-outline">
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="packpricing-column1 thq-card">
              <div class="packpricing-price02">
                <div class="packpricing-price03">
                  <span class="packpricing-text14 thq-body-large">
                    <span>Business plan</span>
                  </span>
                  <h3 class="packpricing-text15 thq-heading-3">
                    <span>$29/mo</span>
                  </h3>
                  <span class="thq-body-large">
                    <span>or $299 yearly</span>
                  </span>
                </div>
                <div class="packpricing-list1">
                  <div class="packpricing-list-item03">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item04">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item05">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item06">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="packpricing-button05 thq-button-filled">
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="packpricing-column2 thq-card">
              <div class="packpricing-price04">
                <div class="packpricing-price05">
                  <span class="packpricing-text22 thq-body-large">
                    <span>Enterprise plan</span>
                  </span>
                  <h3 class="packpricing-text23 thq-heading-3">
                    <span>Contact Us</span>
                  </h3>
                  <span class="thq-body-large">
                    <span>(080) - 800-800</span>
                  </span>
                </div>
                <div class="packpricing-list2">
                  <div class="packpricing-list-item07">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item08">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Extra feature</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item09">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Custom feature</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item10">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Premium feature</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="packpricing-button06 thq-button-filled">
                <span class="thq-body-small"><span>Email Us</span></span>
              </button>
            </div>
          </div>
          <div class="packpricing-container1">
            <div class="packpricing-column3 thq-card">
              <div class="packpricing-price06">
                <div class="packpricing-price07">
                  <p class="packpricing-text30 thq-body-large">
                    <span>Basic plan</span>
                  </p>
                  <h3 class="packpricing-text31 thq-heading-3">
                    <span>$200/year</span>
                  </h3>
                  <p class="thq-body-large"><span>or $20/month</span></p>
                </div>
                <div class="packpricing-list3">
                  <div class="packpricing-list-item11">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item12">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item13">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="packpricing-button07 thq-button-outline">
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="packpricing-column4 thq-card">
              <div class="packpricing-price08">
                <div class="packpricing-price09">
                  <p class="packpricing-text37 thq-body-large">
                    <span>Business plan</span>
                  </p>
                  <h3 class="packpricing-text38 thq-heading-3">
                    <span>$299/year</span>
                  </h3>
                  <p class="thq-body-large"><span>or $29/month</span></p>
                </div>
                <div class="packpricing-list4">
                  <div class="packpricing-list-item14">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item15">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item16">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item17">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="packpricing-button08 thq-button-filled">
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="packpricing-column5 thq-card">
              <div class="packpricing-price10">
                <div class="packpricing-price11">
                  <p class="packpricing-text45 thq-body-large">
                    <span>Enterprise plan</span>
                  </p>
                  <h3 class="packpricing-text46 thq-heading-3">
                    <span>Contact Us</span>
                  </h3>
                  <p class="thq-body-large"><span>(080) - 800-800</span></p>
                </div>
                <div class="packpricing-list5">
                  <div class="packpricing-list-item18">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item19">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Extra feature</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item20">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Custom feature</span>
                    </span>
                  </div>
                  <div class="packpricing-list-item21">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Premium feature</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="packpricing-button09 thq-button-filled">
                <span class="thq-body-small"><span>Email Us</span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
